<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/" style="background-color: rgb(230, 17, 17);">Reset</a>
    <a class="dropdown-item" href="/filterbycreation/newest">Newest</a>
    <a class="dropdown-item" href="/filterbycreation/oldest">Oldest</a>
    <a class="dropdown-item" href="/filterbycreation/lasthour">Last Hour</a>
    <a class="dropdown-item" href="/filterbycreation/lastday">Last Day</a>
    <a class="dropdown-item" href="/filterbycreation/last7days">Last 7 Days</a>
    <a class="dropdown-item" href="/filterbycreation/lastmonth">Last Month</a>
    <a class="dropdown-item" href="/filterbycreation/lastyear">Last Year</a>
</div>