{% extends 'base.html' %} {% block content %}
<h2>{% block title %} {{ post.title }} {% endblock %}</h2>
<div class="form-group row mb-3">
  <div class="col">
    {% for tag in post.post_tags %}
    <span class="badge badge-success">{{tag.tag}}</span>
    {% endfor %}
  </div>
</div>
<span class="badge badge-primary mb-3">{{ post.created_at }}</span>
<p>{{ post.content }}</p>
<div class="form-group row">
  <div class="col-xs-3 ml-3 mt-2">
    <form method="POST">
      <div class="input-group">
          <div class="input-group-prepend">
          </div>
          <input name="tag" type="text" class="form-control" placeholder="Tag">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Tag</button>
    </form>
  </div>
</div>
{% endblock %}
